body, input {
  font-family: 'Roboto Mono', monospace;
}

#app {
  width: 1024px;
  margin: 0 auto;
}

.header {
  font-size: 16px;
  margin: 56px 0 16px;
}

.header_title span {
  font-weight: bold;
}

.row {
  display: flex;
}

.row_col {
}

.menu {
  padding-bottom: 128px;
}

.menu_header,
.menu_item {
  border-radius: 4px;
  font-size: 14px;
  line-height: 28px;
  height: 28px;
  padding: 0 8px;
  box-sizing: border-box;
}

.menu_search,
.menu_header,
.menu_item {
  width: 200px;
}

.menu_header,
.menu_item {
  margin: 2px 0;
}

.menu_item {
  cursor: pointer;
  color: #0041FF;
  transition: 300ms ease all;
}

.menu_header {
  text-transform: uppercase;
  height: auto;
  line-height: normal;
  margin-top: 20px;
}

.menu_header--text-center {
  text-align: center;
}

.menu_item--selected,
.menu_item:hover {
  background: #85c4ff;
  color: black;
}

.search {
  position: relative;
}

.search:after {
  content: "";
  background: url("../img/ic_search.png");
  background-size: contain;
  position: absolute;
  width: 14px;
  height: 14px;
  top: 0;
  right: 8px;
  bottom: 1px;
  margin: auto;
  opacity: 0.5;
}

.search_input {
  border: 1px solid #B5B5B5;
  padding: 0 28px 0 8px;
  border-radius: 4px;
  font-size: 14px;
  line-height: 28px;
  height: 28px;
  width: 100%;
  box-sizing: border-box;
}

.sandbox {
  width: 100%;
}

.sandbox_label {
  line-height: 72px;
  text-align: center;
  width: 100%;
}
